<button class='close'>&times;</button>

<h2>Are you sure you want to delete your <%= type %>?</h2>

<h3><%= name %></h3>

<button class='submit-delete btn btn-danger'>Delete</button>
<button class='cancel btn btn-success'>Cancel</button>
