<button class='close'>&times;</button>

<h3>Delete your <%= type %> <%= name %>?</h3>

<button class='submit-delete btn btn-danger'>Delete</button>
<button class='cancel btn btn-success'>Cancel</button>
