<button class='close'>&times;</button>

<h3>Remove <%= post.escape('title') %> from Playlist: <%= playlist.escape('name') %>?</h3>

<button class='submit-remove btn btn-danger'>Remove</button>
<button class='cancel btn btn-success'>Cancel</button>
