<div class="backdrop m-backdrop">
  <div id="navbar"></div>
  <div id="main"></div>
</div>
<div class="m-content"></div>
<script>
  window.CURRENT_USER_ID = "<%= current_user.id %>";
  window.CURRENT_USER_UN = "<%= current_user.username %>";
  $(VMCApp.initialize);
</script>
