<body id="landing-page">
  <nav id="landingNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#landing-page">Music Video Collector</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <!-- <li>
                      <a class="page-scroll" href="#about-link">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#login-link">Sign In</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">Services</a>
                  </li> -->
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <section>
    <div id='buffer-header' class='col-md-12'>
      <video controls autoplay loop>
        <source src='https://res.cloudinary.com/dwpmjcdhz/video/upload/v1435015414/MVC-Background-Mini_gavwik.mp4' type='video/mp4'>
      </video>
    </div>
  </section>


  <section>
    <div class="header-content col-md-12">
        <div class="header-content-inner col-md-4 col-md-offset-4">
            <h1>Build Your Music Video Collections</h1>
            <hr>
            <p>With MVC you can discover the best music videos on the web and create playlists of your favorites. Get started and watch your favorites!</p>
            <br><br>
            <a href="#login-link" class="btn btn-primary btn-xl sign-in-button">Sign In!</a>
        </div>
    </div>
  </section>

  <section class="bg-primary anchor" id="about">
    <div class="container-span">
      <div class="row">
  <a id='about-link'></a>
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">We do music videos:</h2>
            <hr class="light">
            <div class="col-lg-8 col-lg-offset-4">
              <ul class="text-faded about-list">
                <li class='text-faded pull-left'>Watch embedded music videos from Youtube, Vimeo, and Vevo</li><br><br>
                <li class='text-faded pull-left'>Upload your own videos with just a URL</li><br><br>
                <li class='text-faded pull-left'>See the most popular videos across the web</li><br><br>
                <li class='text-faded pull-left'>Create your favorite playlists and keep track of your most liked songs</li><br><br>
                <li class='text-faded pull-left'>Follow other users and/or playlists to get a fresh new feed of videos to watch</li><br><br>
              <a id='login-link'></a>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class='anchor' id='login'>

    <div class="container login-active">
      <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Sign in to the Music Video Collector!</h1>
        <div class="account-wall">
          <form class="form-signin" action="<%= session_url %>" method="post">
            <%= csrf %>
            <input type="text" class="form-control" placeholder="Username" name="user[username]" required>
            <input type="password" class="form-control" placeholder="Password" name="user[password]" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Enter
              </button>
          </form>
        </div>
        <a href="#login-link" class="text-center switch-login-type">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="container login-inactive">
      <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Sign Up for the Music Video Collector!</h1>
        <div class="account-wall">
          <form class="form-signin" action="<%= users_url %>" method="post">
            <%= csrf %>
            <input type="text" class="form-control" placeholder="Username" name="user[username]" required>
            <input type="password" class="form-control" placeholder="Password" name="user[password]" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Create Account
              </button>
          </form>
        </div>
        <a href="#login-link" class="text-center switch-login-type">Sign In</a>
        </div>
      </div>
    </div>

  </section>

  <script src="jquery.js"></script>
  <script>
    $(document).ready(function() {
      $('.switch-login-type').click(function () {
        $('.login-active').removeClass('login-active').addClass('login-temp');
        $('.login-inactive').removeClass('login-inactive').addClass('login-active');
        $('.login-temp').removeClass('login-temp').addClass('login-inactive');
      });
    })
  </script>


  <section class='anchor' id="services">
    <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Fingertips</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-1 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-youtube-play wow bounceIn text-primary"></i>
                    <h3 class='explore'>Explore Music Videos</h3>
                    <p class="text-muted">Browse our collections of the hottest music videos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-1 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-th-large wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Create your feed</h3>
                    <p class="text-muted">Start following users and playlists to get a fresh funky feed of their videos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-1 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Like Videos</h3>
                    <p class="text-muted">Keep track of your favorites and rewatch them later.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-1 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-headphones wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Curate Playlists</h3>
                    <p class="text-muted">Make playlists of your favorites or check out </p>
                </div>
            </div>
        </div>
      </div>
  </section>

  <section class='anchor' id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">About the Creator</h2>
                  <hr class="primary">
                  <p>Ryan Duchin is a former semiconductors process/materials engineer turned web developer.</p>
              </div>

              <div class="col-lg-4 col-lg-offset-4 text-center">
                  <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p><a href="mailto:ryanduchin@gmail.com">ryanduchin@gmail.com</a></p>
              </div>
          </div>
      </div>
  </section>
</body>
