<div class="container-fluid">
  <div class="user-index-row-1 row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="page-title">
        <%= title %>
      </h1><br>
    </div>
  </div>

  <div class="user-index-row-2 row">
    <ul class="view-users"></ul>
  </div>

</div>
