<h4>Playlist: <%= playlist.escape('name') %></h4>

<% if (deleteButton) { %>
  <button class="btn btn-danger">Delete Playlist</button>
<% } %>

<div class="follow-button"></div>

<ul class="view-posts"></ul>
