<div class='container-fluid' id='user-show'>
  <div class='user-show-row-1 row'>

    <div class='col-md-4 col-md-offset-4'>
      <h1 class='user-show-title'>
        <%= user.escape('username') %>
      </h1>
      <div class="follow-button"></div>
    </div>
  </div>

  <br><br>

  <div class='user-show-row-2 row'>
    <div>
      <h2 class='user-show-subtitle'>Playlists</h2>
      <ul class="view-user-playlists"></ul>
    </div>
  </div>
  <div class='user-show-row-3 row'>
    <div>
      <h2 class='user-show-subtitle'>Posts</h2>
      <ul class="view-user-posts"></ul>
    </div>
  </div>
</div>
