<a href="#/users/<%= user.id %>">
  <h2 class="thumb-user-name">
    <%= user.escape('username') %>
  </h2>

</a>
  <div class="follow-button"></div>
<a href="#/users/<%= user.id %>">

  <% if (post === "none") { %>

    <div class="thumb blank-thumb">
      <img width="400" height="225"
        src=''></img>
    </div>

  <% } else { %>

    <%= JST['_renderThumbnail']({ post: post }) %>

  <% } %>

</a>
