<a href="#/users/<%= user.id %>">
  <h4 class="thumb-user-name">
    <%= user.escape('username') %>
  </h4>

</a>
  <div class="follow-button"></div>
<a href="#/users/<%= user.id %>">

  <% if (post === "none") { %>

    <div class="thumb blank-thumb">
      <img width="250" height="140"
        src='/images/usericon3.png'></img>
    </div>

  <% } else { %>

    <%= JST['_renderThumbnail']({ post: post, size: "user" }) %>

  <% } %>

</a>
