<div id="user-thumbnail">
  <a href="#/users/<%= user.id %>">

    <% if (post === "none") { %>

      <div class="thumb blank-thumb">
        <img width="400" height="225"
          src='/images/music1.svg'></img>
      </div>

    <% } else { %>

      <%= JST['_renderThumbnail']({ post: post }) %>

    <% } %>
  </a>

  <div class='row'>
    <h4 id="thumb-user-name">
      <%= user.escape('username') %>
    </h4>
  </div>
  <div class='row'>
    <div class="follow-button"></div>
  </div>
</div>
