<p>Add to Playlists:</p>
<form class="form-post-to-playlist">
<select name="playlist_posts[playlist_id]">

<% userPlaylists.forEach(function (playlist) { %>
  <div class="checkbox">
    <label><input type="checkbox" value="<%= playlist.id %>">
      <%= playlist.escape('name') %>
    </label>
  </div>
<% }); %>

</form>
