<button class='close'>&times;</button>

<h1 class='form-title'>Add To Playlist</h1>

<div class='row'>
  <h3 class='form-song'>Song: <%= post.escape('title') %></h3>
</div><br>

<div class='required-fields'>
  <div class='row'>

    <label class="col-md-4" for="playlist-name">Playlist: </label>
    <select class="playlist-dropdown col-md-8">
      <option value="">
      <% userPlaylists.forEach(function (playlist) { %>
        <option name="playlist_post[playlist_id]" value="<%= playlist.id %>">
          <%= playlist.escape('name') %>
        </option>
      <% }); %>
    </select>

  </div>
</div>

<br><br>

<div class='row'>
  <button class='submit-playlist btn col-md-4 col-md-offset-4'>Submit</button>
</div>
