<button class='close'>&times;</button>

<h3>Add <%= post.escape('title') %> to a playlist:</h3>

<select class="playlist-dropdown">
  <option value="">

  <% userPlaylists.forEach(function (playlist) { %>

    <option name="playlist_post[playlist_id]" value="<%= playlist.id %>">
      <%= playlist.escape('name') %>
    </option>

  <% }); %>

</select>


<button class='submit-playlist btn btn-success'>Submit</button>
<button class='cancel btn btn-danger'>Cancel</button>
