<button class='close'>&times;</button>

<h1>Submit a Video!</h1>


<div>Required fields:<br>
  <label for="post-title">Title: </label><br>
  <input
    type="text"
    name="title"
    id="post-title"
  ></input><br>

  <label for="post-title">URL: </label><br>
  <input
    type="text"
    name="url"
    id="post-url"
  ></input><br>

</div><br>

<div>Optional fields:<br>

  <label for="post-artist">Artist: </label><br>
  <input
    type="text"
    name="artist"
    id="post-artist"
  ></input><br>

  <label for="post-album">Album: </label><br>
  <input
    type="text"
    name="album"
    id="post-album"
  ></input><br>

  <label for="post-year">Year: </label><br>
  <input
    type="text"
    name="year"
    id="post-year"
  ></input><br>

  <label for="post-description">Description: </label><br>
  <textarea
    name="description"
    id="post-description"
  ></textarea><br>

</div>

<button class="create-post">Submit</button>
