<h1 class='form-title'>Add Video</h1><br>

<div class='row'>
  <div class="render-error"></div>
</div><br>


<div class='required-fields'>

  <div class='row'>
    <label class="col-md-4" for="post-title">URL * </label>
    <input
      type="text"
      name="url"
      id="post-url"
      class="col-md-8"
    ></input><br>

  </div>
  <div class='row'>

    <div class='url-instructions'>Paste a URL from Youtube, Vimeo, or Vevo</div><br>

  </div>
  <div class='row'>

    <label class="col-md-4" for="post-title">Title * </label>
    <input
      type="text"
      name="title"
      id="post-title"
      class="col-md-8"
    ></input><br><br>

  </div>
  <div class='row'>

    <label class="col-md-4" for="post-artist">Artist * </label>
    <input
      type="text"
      name="artist"
      id="post-artist"
      class="col-md-8"
    ></input><br><br>

  </div>

</div><br>


<div class='optional-fields'>

  <div class='row'>

    <label class="col-md-4" for="post-album">Album </label>
    <input
      type="text"
      name="album"
      id="post-album"
      class="col-md-8"
    ></input><br><br>

  </div>
  <div class='row'>

    <label class="col-md-4" for="post-description">Description </label>
    <textarea
      name="description"
      id="post-description"
      class="col-md-8"
    ></textarea><br><br>

  </div>

</div>

<br><br>

<div class='row'>
  <div class='col-md-6'>
    <button type='submit' class="submit-post btn col-md-4 col-md-offset-6">Submit</button>
  </div>
  <div class='col-md-6'>
    <button type='cancel' class="cancel-post btn col-md-4 col-md-offset-2 btn-danger">Cancel</button>
  </div>
</div>
