<div class="container-fluid">
  <div class="post-index-row-1 row">
    <div class='col-md-1'>&nbsp;</div>
    <ul class="view-posts col-md-10"></ul>
    <div class='col-md-1'>&nbsp;</div>
  </div>
</div>
