<div>
  <iframe width="560" height="315"
    src="https://www.youtube.com/embed/<%= post.escape('url') %>"
    frameborder="0" allowfullscreen></iframe>
</div>

<h4><%= post.escape('title') %></h4>
<h5><%= post.escape('artist') %></h5>
<h6>Uploaded by: <%= post.escape('
