<% vidSource = post.vidSource(); %>
<% vidId = post.vidId(); %>

<a href="#/posts/<%= post.id %>">

  <h4><%= post.escape('title') %></h4>

  <% if (vidSource === "Youtube") { %>
    <img src="<%= "http://img.youtube.com/vi/" +
      vidId + "/mqdefault.jpg" %>"></img>

  <% } else if (vidSource === "Vimeo") { %>
    <script type="text/javascript">
      $.ajax({
          type:'GET',
          url: 'http://vimeo.com/api/v2/video/' + vidId + '.json',
          jsonp: 'callback',
          dataType: 'jsonp',
          success: function(data){
              var thumbnail_src = data[0].thumbnail_large;
              var id_img = "#vimeo-" + data[0].id;
              $(id_img).html('<img src="' + thumbnail_src + '"/>');
          }
      });
    </script>
    <div id="vimeo-<%= vidId %>"></div>

  <% } else if (vidSource === "Vevo") { %>

  <% } %>


</a>
