<% vidSource = post.vidSource(); %>
<% vidId = post.vidId(); %>


<a href="#/posts/<%= post.id %>">
  <h4 class="thumb-title">
    <%= post.escape('title') %>
  </h4>

  <h5 class="thumb-artist">
    <%= post.escape('artist').toUpperCase() %>
  </h5>


  <%= JST['_renderThumbnail']({ post: post }) %>

</a>
