<a href="#/posts/<%= post.id %>">

  <h4><%= post.escape('title') %></h4>

  <% if (post.vidSource() === "Youtube") { %>
    <img src="<%= "http://img.youtube.com/vi/" + post.vidId() + "/0.jpg" %>"></img>
  <% } %>


</a>
