<div class='container-fluid'>
  <div class='subnav-row-1 row'>
    <div class='col-md-12'>
      <h1 class='page-title'>Explore</h1>
    </div>
  </div>

  <br><br>

  <div class='subnav-row-2 row'>
    <div class='col-md-8 col-md-offset-2'>
      <ul>
      <li class='top-liked subnav-item col-md-2 col-md-offset-1'>
        <a href='#/top/posts' class='col-md-12'>
          Top Liked
          <span class='sr-only'>(current)</span>
        </a>
      </li>
      <li class='staff subnav-item col-md-2'>
        <a href='#/staff/posts' class='col-md-12'>
          Staff Picks
          <span class='sr-only'>(current)</span>
        </a>
      </li>
      <li class='all-posts subnav-item col-md-2'>
        <a href='#/all/posts' class='col-md-12'>
          All Posts
          <span class='sr-only'>(current)</span>
        </a>
      </li>
      <li class='all-playlists subnav-item col-md-2'>
        <a href='#/other/playlists' class='col-md-12'>
          Playlists
          <span class='sr-only'>(current)</span>
        </a>
      </li>
      <li class='all-users subnav-item col-md-2'>
        <a href='#/all/users' class='col-md-12'>
          Users
          <span class='sr-only'>(current)</span>
        </a>
      </li>

      </ul>
    </div>
  </div>

  <div class="subnav-row-1 row">
    <ul class="select-bar-row col-md-12"></ul>
  </div>
</div>

<br><br><br>
