<div class="container-fluid">
  <div class="subnav-row-1 row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-title">Explore</h1>
    </div>
  </div>

  <div class="subnav-row-2 row">
    <ul class="col md-2 col-md-offset-2">
      <li id='all-posts' class='subnav-item'><a href="#/all/posts">Posts<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="col md-2">
      <li id='all-playlists' class='subnav-item'><a href="#/all/playlists">Playlists<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="col md-2">
      <li id='all-users' class='subnav-item'><a href="#/all/users">Users<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="col md-2">
      <li id='top-liked' class='subnav-item'><a href="#/top/posts">Top Liked<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="col md-2">
      <li id='staff' class='subnav-item'><a href="#/staff/posts">Staff Picks<span class="sr-only">(current)</span></a></li>
    </ul>
  </div>

</div>
