<div class="container-fluid">
  <div class="subnav-row-1 row">
    <div class="col-md-12">
      <h1 class='page-title'>Feed</h1>
    </div>
  </div>
  <div class="subnav-row-2 row">
    <div class="col-md-12">
      <h4 class='page-subtitle'>FOLLOWED USERS & PLAYLISTS</h4>
    </div>
  </div>
</div>

<br><br><br><br>
