<div class="container-fluid">
  <div class="navbar-header">
    <div class="navbar-brand-container row" href="#">
      <div class='navbar-brand row'>M V C</div>
    </div>

  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

      <li class='nav-item feed'><a href="#">Feed<span class="sr-only">(current)</span></a></li>
      <li class='nav-item you'><a href="#/user/posts">You<span class="sr-only">(current)</span></a></li>
      <li class='nav-item explore'><a href="#/top/posts">Explore<span class="sr-only">(current)</span></a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Create<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="nav-dropdown-item"><a href="#" class="upload-video">Post Video</a></li>
          <li class="nav-dropdown-item divider"></li>
          <li class="nav-dropdown-item"><a href="#" class="upload-playlist">Add Playlist</a></li>
        </ul>
      </li>

      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= window.CURRENT_USER_UN %><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="nav-dropdown-item"><a href="session" data-method='delete'>Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
