<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">V|M|C
<!--        <img alt="V|M|C" src="V-M-C-logo-2.png">  -->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Feed <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/user/posts">Your Uploads</a></li>
            <li class="divider"></li>
            <li><a href="#/all/posts">All Posts</a></li>
            <li class="divider"></li>
            <li><a href="#/posts">Subscribed (X)</a></li>
            <li class="divider"></li>
            <li><a href="#">Top Liked (X)</a></li>
            <li class="divider"></li>
            <li><a href="#/staff/posts">Staff Picks</a></li>
          </ul>
        </li>
        <li><a href="#/liked/posts">Likes<span class="sr-only">(current)</span></a></li>
        <li><a href="#/user/playlists">Playlists</a></li>
        <li><a href="#/all/playlists">All Playlists (?)</a></li>
        <li><a href="#">Explore (X)</a></li>
      </ul>

<!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= window.CURRENT_USER_UN %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile (X)</a></li>
            <li class="divider"></li>
            <li><a href="session" data-method='delete'>Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
