<div class='container-fluid'>
  <div class='subnav-row-1 row'>
    <div class='col-md-12'>
      <h1 class='page-title'>You</h1>
    </div>
  </div>

  <br><br>

  <div class='subnav-row-2 row'>
    <div class='col-md-8 col-md-offset-2'>
      <ul>
        <li class='your-posts subnav-item col-md-2 col-md-offset-1'>
          <a href='#/user/posts' class='col-md-12'>
            Videos
            <span class='sr-only'>(current)</span>
          </a>
        </li>
        <li class='likes subnav-item col-md-2'>
          <a href='#/liked/posts' class='col-md-12'>
            Likes
            <span class='sr-only'>(current)</span>
          </a>
        </li>
        <li class='your-playlists subnav-item col-md-2'>
          <a href='#/user/playlists' class='col-md-12'>
            Playlists
            <span class='sr-only'>(current)</span>
          </a>
        </li>
        <li class='followed-playlists subnav-item col-md-2'>
          <a href='#/followed/playlists' class='col-md-12'>
            Followed Playlists
            <span class='sr-only'>(current)</span>
          </a>
        </li>
        <li class='followed-users subnav-item col-md-2'>
          <a href='#/followed/users' class='col-md-12'>
            Followed Users
            <span class='sr-only'>(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<br><br><br>
