<button class='close'>&times;</button>

<h1>Create a Playlist</h1>

<label for="playlist-name">Title: </label><br>
<input
  type="text"
  name="name"
  id="playlist-name"
></input><br>

<button class="create-playlist">Submit</button>
