<div class="container-fluid">
  <div class="playlist-index row">
    <div class='col-md-1'>&nbsp;</div>
    <ul class="view-playlists col-md-10"></ul>
    <div class='col-md-1'>&nbsp;</div>
  </div>
</div>
