<h4>Playlist: <%= playlist.escape('name') %></h4>

<% if (!isOwner) { %>
  <div class="follow-button"></div>
<% } %>

<ul class="view-posts"></ul>

<% if (isOwner) { %>
  <button class="btn btn-delete btn-danger btn-sm">Delete</button>
<% } %>
