<div class="container-fluid" id='playlist-show'>
  <div class="playlist-show-row-1 row">

    <div class="col-md-4 col-md-offset-4">
      <h1 class="playlist-show-title">
        <%= playlist.escape('name') %>
      </h1>

  <% if (!isOwner) { %>
      <div class="follow-button"></div>
    </div>
  <% } else { %>
    </div>
    <div class="col-md-4 delete-btn-div">
      <button class="btn btn-delete btn-danger show-delete">Delete Playlist</button>
    </div>
  <% } %>
  </div>

  <div class="playlist-show-row-2 row">
    <ul class="view-posts col-md-12"></ul>
  </div>

</div>
