<div class="container-fluid">
  <div class="playlist-show-row-1 row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="page-title">
        <%= playlist.escape('name') %>
      </h1>
    </div>
    <div class="col-md-4">

      <% if (!isOwner) { %>
        <div class="follow-button"></div>
      <% } %>

      <% if (isOwner) { %>
        <button class="btn btn-delete btn-danger btn-sm playlist-delete">Delete Playlist</button>
      <% } %>
    </div>
  </div>

  <div class="playlist-show-row-2 row">
    <ul class="view-posts"></ul>
  </div>

</div>
