<a href="#/playlists/<%= playlist.id %>">
  <h2 class="thumb-playlist-title">
    <%= playlist.escape('name') %>
  </h2>

  <h6 class="thumb-title">&nbsp;</h6>

  <div class="thumb blank-thumb">
    <img width="400" height="225"
      src='headphones.png'></img>
  </div>




</a>
