<a href="#/playlists/<%= playlist.id %>">
  <h2 class="thumb-playlist-title">
    <%= playlist.escape('name') %>
  </h2>

  <div class="thumb blank-thumb">
    <img width="400" height="238"
      src='headphones.png'></img>
  </div>


</a>
