/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



body {
  background-image: image-url('blurreddarkenedrave.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000324;
  background-position: right top; //right or center
};

nav {
  background-color: rgba(0, 0, 0, .75);
};

a {
  color: white;
  font-family: 'Roboto', sans-serif;
};

// navbar

ul, nav {
  list-style-type: none
};

ul.navbar-nav {
  position: relative;
  left: 450px;
};

ul.navbar-right {
  left: 0px;
  right: 0px;
};

#navbar-brand {
  color: #CE97FF;
};

.navbar-brand-container {
  font-size: 30px;
  margin-top: 15px;
  position: relative;
  left: 350px;
};

li.nav-item {
  float: left;
  position: relative;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
};

.navbar-right>.nav-item {
  margin-left: 60px;
  margin-right: 5px;
  right: 0px;
};

.nav-item>a {
  font-size: 18px;
  margin: 0px;
};

.nav-item>a:hover {
  font-size: 25px;;
};

// .nav-item>a.selected {
//   font-size: 25px;;
// };
//
// .nav-item>a.sr-only {
//   font-size: 25px;;
// };



//subnav and titles

.subnav-item>a {
  font-size: 16px;
  text-align: center;
  color: white;
};



.page-title {
  font-size: 24px;
  text-align: center;
  color: white;
};




//modal create forms

.m-content.active {
  z-index: 100;
  height: auto;
  width: 600px;
  position: relative;
  margin: 0px auto;
  margin-top: 157px;
  border-radius: 4px;
  padding: 50px;
  background-color: white;
  padding-top: 20px;
};

.m-content.active .form-title {
  color: #CE97FF;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
};


.m-content.active .required-fields label {
  color: #CE97FF;
  font-size: 16px;
  // display: inline;
};

.m-content.active h3.form-song {
  color: gray;
  font-size: 25px;
  text-align: center;
};


.m-content.active .required-fields input {
  // display: inline;
  float: left;
};

.m-content.active .url-instructions {
  color: gray;
  font-size: 12px;
};

.m-content.active .optional-fields label {
  color: rgba(128, 128, 128, 0.55);
  font-size: 16px;
};

.m-content.active .render-error {
  color: red;
  font-size: 18px;
  text-align: center;
};

.m-content.active .create-post, .m-content.active .submit-playlist {
  background-color: #CE97FF;
  color: white;
};


.m-backdrop.inactive {
  z-index: 80;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
};

button.close {
  font-size: 40px;
};

//needed?
.overflow-container {
  overflow-x: auto;
  white-space: nowrap
};

// general thumbnail

ul.view-posts {
  clear: both;
};

div.user-posts-index {
  clear: both;
};

.thumbnail-container {
  margin-bottom: 100px;
};

.user-thumbnail {
  margin: 0px;
  padding: 0px;
};

.thumb {
  height: 225px;
  width: 400px;
};

div.footer {
  display: block;
  clear: both;
};

//post thumbnail

// #post-thumbnail-link {
//   width: 400px;
// };
//
// #post-thumbnail-link .thumb {
//   width: 400px;
// };
//
// .thumbnail-container.post-thumbnail > div#thumbail-container {
//   width: 630px;
// };


.thumb-buttons {
  left: 10px;
};

.thumb-button {
  position: relative;
  float: right;
  margin-left: 5px;
};

.thumb-buttons, .thumb-descr {
  padding: 0px;
};


.thumb-title, .thumb-user-name {
  margin-bottom: 0px;
};

.page-title {
  text-align: center;
};

#vevo-overlay {
  position: relative;
};

#playlist-thumbnail-overlay > div.vevo-overlay {
  opacity: 0;
  position: absolute;
  left: 0; top: 0; height: 225px; width: 400px;
};



//playlist thumbnail



#playlist-thumbnail-overlay {
  position: relative;
};

#playlist-thumbnail-overlay > div.overlay {
  opacity: .5;
  background-color: black;
  position: absolute;
  left: 0; top: 0; height: 225px; width: 400px;
  text-align: center;
  font: 20px;
};

#playlist-thumbnail-overlay .thumb-playlist-title {
  font-size: 30px;
  text-align: center;
  position: absolute;
  // color: #9A84AD;
  color: white;
  width: 400px;
  letter-spacing: 8px;
};

#playlist-follow-button {
  position: absolute;
  // width: 400px;
  // right: 0px;
  float: right;
  // display: inline;
  // z-index: 10;
};


// user thumbnail

#user-thumbnail {
  width: 220px;
  height: 270px;
};

#user-thumbnail .thumb {
  width: 180px;
  height: 180px;
  margin-bottom: 5px;
};


#user-thumbnail img, #user-thumbnail iframe {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;

};

#user-thumbnail h4#thumb-user-name {
  display: block;
  font-size: 20px;
  text-align: center;
  width: 250px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
};

#user-thumbnail .follow-button{
  display: block;
  text-align: center;
  width: 250px;
};



//post show page

.show-delete {
  margin-top: 20px;
  float: right;
};

.show-delete:hover {
  margin-top: 20px;
};

.post-show-btn button {
  float: right;
};


.post-show-title {
  margin-left: -3px;
};

#post-show * {
  color: white;
  font-family: 'Roboto', sans-serif;
};

#post-show .post-show-btn {
  padding: 0;
};

#post-show .post-show-title {
  font-size: 50px;
  margin-bottom: 12px;
  letter-spacing: 4px;
};

#post-show .post-show-artist {
  margin: 0px;
};

//playlist show page

#playlist-show * {
  color: white;
  font-family: 'Roboto', sans-serif;
};

#playlist-show .playlist-show-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  letter-spacing: 4px;
};
