/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



body {
  background-image: image-url('blurreddarkenedrave.png');
  background-repeat: no-repeat;
  // background-size: cover;
  background-color: rgba(14, 14, 48, .8);
};

nav {
  background-color: rgba(0, 0, 0, .75);
};

a {
  color: white;
  font-family: 'Roboto', sans-serif;
};

// navbar

ul, nav {
  list-style-type: none
};

ul.navbar-nav {
  position: relative;
  left: 450px;
};

ul.navbar-right {
  left: 0px;
  right: 0px;
};

#navbar-brand {
  color: #CE97FF;
};



.navbar-brand-container {
  font-size: 30px;
  margin-top: 15px;
  position: relative;
  left: 350px;
};

li.nav-item {
  float: left;
  position: relative;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
};

.navbar-right>.nav-item {
  margin-left: 60px;
  margin-right: 5px;
  right: 0px;
};

.nav-item>a {
  font-size: 18px;
  margin: 0px;
};

.nav-item>a:hover {
  font-size: 25px;;
};

// .nav-item>a.selected {
//   font-size: 25px;;
// };
//
// .nav-item>a.sr-only {
//   font-size: 25px;;
// };




.nav-dropdown-item>a {

};



//subnav and titles

.subnav-item>a {
  font-size: 16px;
  text-align: center;
  color: white;
};



.page-title {
  font-size: 24px;
  text-align: center;
  color: white;
};




ul.view-posts {
  clear: both;
};

div.user-posts-index {
  clear: both;
};

.thumbnail-container {
  margin-bottom: 100px;
};

.user-thumbnail {
  margin: 0px;
  padding: 0px;
};

.thumb {
  height: 225px;
};

div.footer {
  display: block;
  clear: both;
};

.m-content.active {
  z-index: 100;
  height: auto;
  width: 400px;
  position: relative;
  margin: 0px auto;
  margin-top: 157px;
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(137, 202, 236);
  padding-top: 20px;
};

.m-backdrop.inactive {
  z-index: 80;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
};

button.close {
  font-size: 40px;
};

.overflow-container {
  overflow-x: auto;
  white-space: nowrap
};


//post thumbnail

.thumb-button {
  position: relative;
  float: right;
};

.thumb-buttons, .thumb-descr {
  padding: 0px;
};


.thumb-title, .thumb-user-name {
  margin-bottom: 0px;
};

.page-title {
  text-align: center;
};

//playlist thumbnail


#playlist-thumbnail-overlay {
  position: relative;
};

#playlist-thumbnail-overlay > div.overlay {
  opacity: .65;
  background-color: black;
  position: absolute;
  left: 0; top: 0; height: 225px; width: 400px;
  text-align: center;
  font: 20px;
};

#playlist-thumbnail-overlay .thumb-playlist-title {
  font-size: 30px;
  text-align: center;
  position: absolute;
  color: #9A84AD;
  // color: white;
  width: 400px;
  letter-spacing: 8px;
};

#playlist-follow-button {
  position: absolute;
  // width: 400px;
  // right: 0px;
  float: right;
  // display: inline;
  // z-index: 10;
};


//show page delete button

.show-delete {
  margin-top: 20px;
  float: right;
};

.show-delete:hover {
  margin-top: 20px;
};

.post-show-btn button {
  float: right;
};

.render-error {
  color: red;
};

.post-show-title {
  margin-left: -3px;
};
