<form class="form-post-to-playlist">
<select name="Add to Playlist">
<option value="">Add to Playlist</option>
<% userPlaylists.forEach(function (playlist) { %>
  <option value="<%= playlist.id %>"><%= playlist.escape('name') %></option>
<% }); %>

</select>
<input class="submit-post-to-playlist" type="submit">
</form>
