<div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add to Playlist<span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <% userPlaylists.forEach(function (playlist) { %>
      <li><a><%= playlist.escape('name') %></a></li>
    <% }); %>

  </ul>
</div>
